.edit-blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #a1ffce,
        #6ae2d4,
        #6bceff,
        #f6cd61,
        #ff9a8b
    );
}

.edit-blog-form {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-blog-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.edit-blog-form input,
.edit-blog-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.edit-blog-form textarea {
    height: 200px;
    resize: vertical; /* Allow vertical resizing */
}

.edit-blog-buttons
{
    display: flex;
    justify-content: space-between;
}

.edit-blog-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-blog-form button:hover {
    background-color: #0056b3;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
    .edit-blog-form {
        width: 100%; /* Full width on smaller screens */
    }
}